# Ignore node_modules
node_modules

# Ignore dotenv files
.env

# Ignore sessions
sessions
sessions_test
.wwebjs_cache

# Ignore logs
logs

# Ignore test coverage reports
coverage

# Ignore other unnecessary files
.DS_Store
.vscode
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/whatsapp-api.iml
